@import "tailwindcss";

@theme {
  --color-primary: #271033;       /* Midnight Violet */
  --color-secondary: #8D62A5;     /* Vintage Lavender */
  --color-accent: #C392DD;        /* Wisteria */
  --color-magenta: #F500F1;       /* Magenta */
  --color-highlight: #FBDAF9;     /* Lavender Veil */

  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui;
}

@layer base {
  body {
    background-color: var(--color-primary);
    color: var(--color-highlight);
    font-family: var(--font-sans);
  }
}